<div class="content">
  <h2 class="content-head is-center">Enter repository details</h2>

  <div class="pure-g">
    <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
      <form class="pure-form pure-form-stacked repo-form" action='/dashboard' method='post'>
        <fieldset>
          <label for="organization">Organization</label>
          <input type="text" name="organization" placeholder="ex. Coinbase">
          <label for="repo">Repository Name</label>
          <input type="text" name="repo" placeholder="ex. omniauth-coinbase">
          <input type="submit" class="pure-button"value="Rank Contributors">
        </fieldset>
      </form>
    </div>
    <div class="results-container">
      <%= erb :'_repo_rank' %>
    </div>

  </div>

  <div class="footer l-box is-center">
    Copyright 2015 by John Hess and Andrea Ruth Coravos
  </div>

</div>